# Exclude files for git
.DS_Store
bin/*
/**/.springBeans
/**/.idea
/**/.classpath
/**/.eclipse
/**/target
/**/.project
/**/.settings
/**/*.iml
/**/coverage-buildCustomMetadataShouldThrowError.log
kubernetes.yaml
/**/pom.xml.versionsBackup